<strong>Olá, {{ organizer }}</strong>
<p>Novo usuário inscrito no evento <strong>{{ meetup }}</strong></p>
<p>
  <strong>Usuário: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
</p>
